---
import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await getCollection('posts');
const pageTitle = "Beadle's Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Can't wait to write my first blog post or maybe even just use it as a journal?</p>

  <ul>
    {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />)}
  </ul>
  <script define:vars={{ allPosts }}>
    console.log({ allPosts });
  </script>
</BaseLayout>
